$gridGutter: 30px;
$delay: 0.3s;

$fontFamilyBase: "sans-serif";
$fontFamilyFirst: "Roboto";
$fontFamilySecond: "TT Firs Neue";

$colorBurningOrange: #ff6e30;
$colorTuscany: #bc572b;
$colorGrenadier: #ce4307;
$colorBurntSienna: #f06666;
$colorRedOrange: #ff3030;
$colorRomantic: #ffd4c1;

$colorWhiteSolid: #ffffff;
$colorMercury: #e9e9e9;
$colorSilver: #cacaca;
$colorDustyGray: #999999;
$colorTundora: #4a4a4a;
$colorCoverBg: rgba(32, 32, 32, 0.85);
$colorMineShaft: #202020;
